.hero {
  margin-bottom: 120px;
}

.hero-container {
  position: relative;
  z-index: 3;
  padding-top: 144px;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 469px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.orange {
  color: #ff6428;
}

.hero-subtitle {
  margin: 0;
  margin-bottom: 33px;
}

.get-the-app-item {
  display: flex;
  align-items: center;
}

.get-the-app-btn {
  margin: 0;
  margin-right: 40px;
  &:hover .get-the-app-btn-text {
    background-color: #fff;
    color: #ff6428;
    border: 1px solid #ff6428;
  }
}

.get-the-app-btn-text {
  transition: all 0.25s ease-in-out;
  display: inline-block;
  padding: 18px 48px;
  background-color: #ff6428;
  border-radius: 40px;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid transparent;
}

.icon-link {
  &:not(:last-child) {
    margin-right: 27px;
  }
}

.icon-link-gp {
  &:hover::after {
    content: "";
  }
}

.fa-brands {
  transition: all 0.25s ease-in-out;
}

.fa-google-play {
  &:hover {
    color: rgb(26, 26, 26);
  }
}

.fa-apple {
  font-size: 30px;

  &:hover {
    color: rgb(26, 26, 26);
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 900px;
  margin-right: -25px;
  margin-top: -400px;
  z-index: -1;
}

.hero-bg-img {
  width: auto;
  border-radius: 0px 0px 151px 360px;
}
