.store {
  margin-bottom: 180px;
}

.store-preview {
  margin-bottom: 180px;
}

.store-sect {
  &:not(:last-child) {
    margin-bottom: 97px;
  }
}

.store-sect-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.store-sect-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.08em;
  color: #121212;
  text-transform: uppercase;
}

.store-sect-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #868686;
  text-transform: lowercase;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #121212;
  }
}

.store-sect-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.store-sect-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.item-img {
  margin-bottom: 40px;
}

.item-title {
  margin: 0;
  margin-bottom: 7px;
  color: #121212;
}

.item-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
