.store {
}

.store-sect {
}

.store-sect-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.store-sect-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.08em;
  color: #121212;
}

.store-sect-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #868686;
}

.store-sect-items {
}

.store-sect-item {
}

.item-img {
}

.item-title {
  color: #121212;
}

.item-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
